* {
    box-sizing: border-box;
}

body {
    max-width: 700px;
    margin: 10px auto 10px;
    padding: 0 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #D8E1E6;  /* medium-dark gray */
}

img {
    max-width: 80%;
    height: auto;
}

.site-header {
    text-align: center;
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

.logo-title,
.logo-subtitle {
    display: block;
}

.main-nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.main-nav a,
.main-nav a:visited {
    color: #8CA5BA;
    text-decoration: none;
}

.main-nav a:hover,
.main-nav a.active {
    color: #5F788C;
}

a,
a:visited {
    color: #8CA5BA;
}

a:hover,
a:focus {
    color: #5F788C;
}

body {
    color: #8CA5BA !important;
}

p {
    color: #8CA5BA !important;
}
